* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.container {
  margin: 0 auto;
  width: 1440px;
  /* max-width: auto; */
}
a {
  text-decoration: none;
}
#hero {
  background: #f8f8f8;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-self: center; */
}
.hero-info h4 {
  color: var(--unnamed, #161515);
  font-size: 24px;
  font-weight: 300;
  margin: 50px 0;
}
.hero-info h1 {
  margin-top: 90px;
  color: #272727;
  font-size: 250px;
  font-weight: 300;
}
.hero-info p {
  color: var(--unnamed, #161515);
  font-size: 32px;
  font-weight: 300;
  line-height: 155%; /* 49.6px */
  margin: 30px 0;
}
.hero-btn {
  margin-top: 60px;
}
.btn-l {
  border: 0;
  background: var(--unnamed, #161515);
  width: 278px;
  height: 82px;
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  cursor: pointer;
}
.btn-r {
  width: 143px;
  height: 82px;
  border: 0;
  background: #fff;
  color: #272727;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  line-height: 186%; /* 59.52px */
}
.work1 h2 {
  color: #000;
  font-size: 24px;
  font-weight: 300;
  line-height: 186%;
  margin: 43px 0 0 0;
  text-align: center;
}
.work1 h1 {
  text-align: center;
  color: #000;
  font-size: 72px;
  font-weight: 400;
  line-height: 112.5%; /* 81px */
}
.img-w3 {
  text-align: center;
  width: 317px;
  height: 530px;
  padding: 110px 70px;
  margin: 200px 0;
  background: #f8f8f8;
}
.work1 h3 {
  text-align: center;
  color: #000;
  font-size: 32px;
  font-weight: 500;
}
.work1 p {
  color: var(--unnamed, #161515);
  font-size: 32px;
  font-weight: 300;
  line-height: 155%; /* 49.6px */
  margin: 40px 0;
  text-align: center;
}
.img-w02 {
  width: 496px;
  height: 630px;
  background: #f8f8f8;
  text-align: center;
  margin: 160px 0;
}
.work2 h2 {
  color: var(--unnamed, #161515);
  font-size: 32px;
  font-weight: 400;
}
.work2 p {
  color: var(--unnamed, #161515);
  font-size: 32px;
  font-weight: 300;
  line-height: 155%; /* 49.6px */
}
.work3 {
  margin: 160px 0;
}
.work3 h1 {
  color: var(--unnamed, #161515);
  font-size: 32px;
  font-weight: 400;
  margin-top: 100px;
}
.work3 hr {
  width: 178.025px;
  height: 1px;
  background: #707070;
  margin-bottom: 60px;
}
.work3 p {
  color: var(--unnamed, #161515);
  font-size: 24px;
  font-weight: 300;
  line-height: 170%; /* 40.8px */
}
.work3 span {
  color: #bb8b5d;
  font-size: 24px;
  font-weight: 500;
  line-height: 170%;
  text-decoration-line: underline;
}

.back a {
  direction: none;
}
.back button {
  width: 100px;
  height: 25px;
  font-size: 20px;
  border: 0;
  border-radius: 10px;
  background: teal;
}
