* {
  font-family: "Josefin Sans", sans-serif;
}
body {
  background: #ffe6d7;
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
  }
  button {
    border: none;
    cursor: pointer;
  }
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
  /* ? */
  #header {
    background: url(./img/bg-hero.png);
    padding: 20px 0;
    position: sticky;
    top: 0;
    backdrop-filter: blur(100px);
    z-index: 99;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        width: 286.536px;
        height: 78px;
      }
      nav {
        display: flex;
        align-items: center;
        gap: 50px;
        a {
          color: #446381;
          font-size: 18px;
          font-weight: 500;
        }
        a:hover {
          transition: 0.8s;
          transform: scale(1.1);
          font-weight: bold;
        }
        button {
          width: 180px;
          height: 50px;
          border-radius: 25px;
          background: linear-gradient(95deg, #4499d9 17.46%, #7367be 87.77%);
          color: #fff;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }
  /* ? */
  #hero {
    width: 100%;
    background: url(./img/bg-hero.png);
    /* background-repeat: no-repeat; */
    padding: 70px 0 100px 0;
    .hero {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .txt {
        position: relative;
        .next1 {
          position: absolute;
          top: 20px;
          left: 350px;
          width: 50px;
          height: 29px;
        }
        .next2 {
          position: absolute;
          top: 20px;
          left: 250px;
          width: 50px;
          height: 29px;
        }
        .plu {
          position: absolute;
          bottom: -100px;
          left: 230px;
        }
        h3 {
          color: #446381;
          font-size: 23px;
          font-weight: 500;
          line-height: 24px;
        }
        h1 {
          width: 460px;
          color: #eb8382;
          font-size: 68px;
          font-weight: 700;
          line-height: 75px;
          span {
            color: #446381;
            font-size: 58px;
            font-weight: 600;
          }
        }
        p {
          width: 518px;
          color: #826f8c;
          font-size: 18px;
          font-weight: 500;
          line-height: 29px;
          margin: 31px 0 36px 0;
        }
        button {
          width: 207px;
          height: 50px;
          border-radius: 25px;
          background: linear-gradient(93deg, #4499d9 11.62%, #6e6cc1 75.39%);
          color: #fff;
          font-size: 18px;
          font-weight: 500;
        }
      }
      .boy {
        position: relative;
        .vr {
          position: absolute;
          top: -25px;
          left: -65px;
        }
        .joys {
          position: absolute;
          bottom: -40px;
          right: -140px;
        }
        .dots {
          position: absolute;
          right: -120px;
          top: 40%;
        }
      }
    }
  }
  /* ? */
  #block-1 {
    padding: 100px 0;
    position: relative;
    .serf {
      position: absolute;
      bottom: 70px;
      right: 0;
    }
    .block-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        width: 556.783px;
        height: 586.844px;
      }
      .txt {
        display: flex;
        flex-direction: column;
        position: relative;
        .next {
          width: 32.759px;
          height: 18.931px;
          position: absolute;
          bottom: 60px;
          right: 300px;
          rotate: 180deg;
        }
        .vr {
          width: 536px;
          height: 313px;
          position: absolute;
          bottom: -110px;
          right: 70px;
        }
        h3 {
          color: #446381;
          font-size: 23px;
          font-weight: 500;
          line-height: 24px;
          z-index: 3;
        }
        h1 {
          width: 610px;
          color: #eb8382;
          font-size: 68px;
          font-weight: 700;
          line-height: 75px;
          letter-spacing: -3px;
          z-index: 3;
        }
        p {
          width: 518px;
          color: #826f8c;
          font-size: 18px;
          font-weight: 500;
          line-height: 29px;
          margin: 31px 0 36px 0;
          z-index: 3;
        }
        button {
          width: 207px;
          height: 50px;
          border-radius: 25px;
          background: linear-gradient(93deg, #4499d9 11.62%, #6e6cc1 75.39%);
          color: #fff;
          font-size: 18px;
          font-weight: 500;
          z-index: 3;
        }
      }
    }
  }
  /* ? */
  #block-2 {
    padding: 10px 0 100px 0;
    background: url(./img/block-2.png);
    position: relative;
    .dots {
      position: absolute;
      right: 50px;
      top: 50%;
      width: 184.991px;
      height: 164.271px;
      z-index: -1;
    }
    .block-2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .txt {
        position: relative;
        .next {
          width: 32.759px;
          height: 18.931px;
          position: absolute;
          bottom: 60px;
          right: 170px;
          rotate: 180deg;
        }
        h3 {
          color: #446381;
          font-size: 23px;
          font-weight: 500;
          line-height: 24px;
          z-index: 3;
        }
        h1 {
          width: 610px;
          color: #eb8382;
          font-size: 68px;
          font-weight: 700;
          line-height: 75px;
          letter-spacing: -3px;
          z-index: 3;
        }
        p {
          width: 518px;
          color: #826f8c;
          font-size: 18px;
          font-weight: 500;
          line-height: 29px;
          margin: 31px 0 36px 0;
          z-index: 3;
        }
        button {
          width: 207px;
          height: 50px;
          border-radius: 25px;
          background: linear-gradient(93deg, #4499d9 11.62%, #6e6cc1 75.39%);
          color: #fff;
          font-size: 18px;
          font-weight: 500;
          z-index: 3;
        }
      }
    }
  }
  /* ? */
  #block-box {
    padding: 50px 0 75px 0;
    .block-box {
      .txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          color: #446381;
          font-size: 23px;
          font-weight: 500;
        }
        h1 {
          color: #eb8382;
          font-size: 68px;
          font-weight: 700;
        }
      }
      .blocks {
        width: 100%;
        height: 606px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .box {
          width: 360.182px;
          height: 566px;
          border-radius: 20px;
          background: #fbdacf;
          box-shadow: 0px 20px 50px 0px rgba(132, 148, 205, 0.08);
          display: flex;
          flex-direction: column;
          position: relative;
          .check {
            display: none;
            position: absolute;
            right: 38px;
            img {
              width: 18px;
              height: 18px;
              padding: 8px;
              background: #eb8382;
              border-radius: 50%;
              border: 7px solid #fac7b5;
              cursor: pointer;
            }
          }
          h2 {
            padding-left: 50px;
            color: #446381;
            font-size: 32px;
            font-weight: 700;
          }
          h3 {
            padding-left: 50px;
            color: #eb8382;
            font-size: 18px;
            font-weight: 700;

            span {
              font-size: 50px;
              font-weight: 700;
            }
          }
          p {
            padding-left: 50px;
            display: flex;
            align-items: flex-end;
            color: #826f8c;
            font-size: 18px;
            font-weight: 500;
            line-height: 12px;
            ion-icon {
              color: #486482;
              width: 25px;
              height: 18px;
              margin-right: 14px;
            }
          }
          .btn {
            display: flex;
            justify-content: center;
            button {
              width: 267px;
              height: 50px;
              margin-top: 40px;
              border-radius: 25px;
              background: var(
                --gradient,
                linear-gradient(93deg, #4499d9 11.62%, #6e6cc1 75.39%)
              );
              color: #fff;
              font-size: 18px;
              font-weight: 500;
            }
          }
        }
        .box:hover {
          transition: 1s;
          width: 359.491px;
          height: 606px;
          border-radius: 20px;
          background: #09143c;
          padding-top: 38px;
          .check {
            display: flex;
          }
          h2 {
            color: #fff;
          }
          p {
            color: #fff;
            ion-icon {
              color: #fff;
            }
          }
        }
      }
    }
  }
  /* ? */
  #footer {
    border-top: 1.5px solid #816f8c;
    opacity: 0.5;
    padding: 25px 0;
    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        width: 286.536px;
        height: 78px;
      }
      p {
        color: #826f8c;
        font-size: 16px;
        font-weight: 500;
      }
      .icons {
        display: flex;
        gap: 20px;
        ion-icon {
          width: 30px;
          height: 30px;
          padding: 10px;
          border-radius: 50%;
          background: #fcd8cb;
          color: #446381;
          cursor: pointer;
        }
      }
    }
  }
  /* ? */
}
