* {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background: #191919;
  .container {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  button {
    border: none;
    cursor: pointer;
  }
  /* ? header start */
  #header {
    animation: header 2s ease 0s 1 normal forwards;
    transition: 3s;
    padding: 30px 0;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        color: #fff;
        font-weight: bolder;
        letter-spacing: 1px;
        font-size: 50px;
      }
      nav {
        display: flex;
        gap: 40px;
        a {
          color: #fff;
          font-size: 17px;
          font-weight: 400;
        }
        a:hover {
          font-weight: bold;
          transition: 0.6s;
        }
        a:active {
          color: #118da8;
          font-weight: bold;
          transition: none;
        }
      }
    }
  }
  /* ? header end */
  /* ? block-1 start */
  #block-1 {
    padding-top: 40px;
    .block-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        width: 650px;
        height: 873px;
        position: relative;
        img {
          width: 650px;
          height: 873px;
          position: absolute;
        }
        .line-2 {
          width: 68px;
          height: 74px;
          border-bottom: 4px solid #118da8;
          border-right: 4px solid #118da8;
          background: none;
          position: absolute;
          left: -32px;
          top: -39px;
          transform: rotateX(33deg) rotateY(33deg);
          transform-style: preserve-3d;
        }
        .line-1 {
          width: 68px;
          height: 4px;
          background: #118da8;
          z-index: 2;
          rotate: 45deg;
          position: absolute;
          left: -30px;
        }
      }
      .txt {
        h1 {
          width: 526px;
          color: #fff;
          font-size: 70px;
          font-weight: 400;
          line-height: 88px;
          letter-spacing: 3.2px;
          span {
            color: #fff;
            font-size: 80px;
            font-weight: 700;
            line-height: 88px;
            letter-spacing: 3.2px;
          }
        }
        .line {
          margin-bottom: 74px;
          img {
            width: 160px;
            margin-top: -100px;
          }
        }
        .txt-logo {
          margin-left: 22px;
          span {
            color: #fff;
            font-size: 15px;
            font-weight: 400;
          }
          .logo {
            display: flex;
            gap: 17px;
            margin-top: 16px;
            img {
              width: 32px;
              height: 32px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  /* ? block-1 end */
  /* ? block-box start */
  #block-box {
    .block-box {
      padding: 93px 0 100px 0;
      .box-1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 64px;
        h1 {
          color: #fff;
          font-size: 64px;
          font-weight: 400;
          letter-spacing: 2.88px;
        }
        button {
          width: 178px;
          height: 51px;
          border-radius: 6px;
          background: #118da8;
          color: #fff;
          font-size: 17px;
          font-weight: 400;
        }
      }
      .box {
        width: 100%;
        height: 545px;
        border-radius: 32px;
        background: #000;
        display: flex;
        gap: 13px;
        margin-bottom: 60px;
        img {
          width: 389px;
          height: 465px;
          margin: 40px;
        }
        .txt {
          display: flex;
          flex-direction: column;
          span {
            margin: 47.56px 0 48px 0;
            width: 73px;
            height: 27px;
            text-align: center;
            border-radius: 6px;
            background: #191919;
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
          }
          .trip {
            margin: 47.56px 0 48px 0;
            background: #191919;
            text-align: center;
            width: 136px;
            height: 27px;
            border-radius: 6px;

            span {
              width: 104px;
            }
          }
          a {
            color: #118da8;
            font-size: 17px;
            font-weight: 400;
            line-height: 27px;
          }
          h1 {
            width: 701px;
            color: #fff;
            font-size: 64px;
            font-weight: 400;
            line-height: 70.4px;
            letter-spacing: 2.56px;
            margin: 18px 0 28px 0;
          }
          p {
            width: 757px;
            color: rgba(255, 255, 255, 0.7);
            font-size: 22px;
            font-weight: 400;
            line-height: 33px;
            margin-bottom: 18px;
          }
          button {
            width: 208px;
            height: 51px;
            border-radius: 6px;
            background: #118da8;
            color: #fff;
            font-size: 18px;
            font-weight: 400;
          }
        }
      }
    }
  }
  /* ? block-box end */
  /* ? block-2 start */
  #block-2 {
    padding: 100px 0;
    .block-2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .txt {
        display: flex;
        flex-direction: column;
        img {
          width: 71px;
          height: 38px;
          border-radius: 50%;
          background: #118da8;
          padding: 34px 24px 40px 17px;
        }
        span {
          color: #118da8;
          font-size: 18px;
          font-weight: 400;
          margin-top: 20px;
        }
        h1 {
          color: #fff;
          font-size: 65px;
          font-weight: 400;
          line-height: 79.2px;
          letter-spacing: 2.88px;
        }
        p {
          width: 556px;
          color: rgba(255, 255, 255, 0.7);
          font-size: 22px;
          font-weight: 400;
          line-height: 33px;
          margin-top: 30px;
        }
      }
      img {
        width: 650px;
        height: 743px;
      }
    }
  }
  /* ? block-2 end */
  /* ? subscribe start */
  #subscribe {
    padding: 100px 0;
    .subscribe {
      width: 100%;
      height: 387px;
      border-radius: 32px;
      background: #000;
      display: flex;
      position: relative;
      img {
        width: 147px;
        height: 91px;
        position: absolute;
        bottom: -30px;
        left: -30px;
      }
      .txt {
        position: absolute;
        top: 60px;
        left: 60px;
        span {
          color: #118da8;
          font-size: 18px;
          font-weight: 400;
        }
        h1 {
          width: 431px;
          color: #fff;
          font-size: 72px;
          font-weight: 400;
          line-height: 79.2px;
          letter-spacing: 2.88px;
        }
      }
      .inp {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 60px;
        input {
          width: 522px;
          height: 82px;
          border-radius: 6px;
          border: 1px solid #191919;
          background: #191919;
          margin-bottom: 20px;
          padding-left: 20px;
          font-size: 24px;
          font-weight: 400;
          background: var(
            --Gd,
            linear-gradient(4deg, #2563eb 25%, #d946ef 58.65%)
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        input::placeholder {
          color: rgba(255, 255, 255, 0.7);
          font-size: 24px;
          font-weight: 400;
        }
        input:focus {
          outline: none;
        }
        button {
          width: 87px;
          height: 48px;
          border-radius: 6px;
          background: #118da8;
          color: rgba(255, 255, 255, 0.7);
          font-size: 15px;
          font-weight: 700;
        }
      }
    }
  }
  /* ? subscribe end */
  /* ? boxin start */
  #boxin {
    padding: 100px 0;
    .boxin {
      display: flex;
      flex-flow: wrap;
      justify-content: space-between;
      .box {
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 16px;
        width: 373px;
        height: 321px;
        border-radius: 32px;
        background: #000;
        .stars {
          display: flex;
          gap: 10px;
          ion-icon {
            width: 18px;
            height: 17px;
            color: #fcff51;
          }
        }
        h1 {
          width: 313px;
          color: #fff;
          font-size: 36px;
          font-weight: 400;
          line-height: 43.2px;
          margin: 21px 0 19px 0;
        }
        p {
          color: rgba(255, 255, 255, 0.7);
          font-size: 24px;
          font-weight: 400;
        }
      }
    }
  }
  /* ? boxin end */
  /* ? footer start */
  #footer {
    padding: 100px 0;
    .footer {
      display: flex;
      .icons {
        width: 33%;
        h1 {
          color: #fff;
          font-weight: bolder;
          letter-spacing: 1px;
          font-size: 50px;
        }
        .icon {
          display: flex;
          gap: 10px;
          margin-top: 23px;
          ion-icon {
            width: 24px;
            height: 24px;
            color: #fff;
            cursor: pointer;
          }
        }
      }
      .about {
        display: flex;
        flex-direction: column;
        width: 17%;
        a {
          color: #fff;
          font-size: 17px;
          font-weight: 400;
          line-height: 27px;
          margin-bottom: 10px;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      .logo {
        width: 33%;
        display: flex;
        gap: 17px;
        margin-top: 16px;
        img {
          width: 32px;
          height: 32px;
          cursor: pointer;
        }
      }
    }
  }
  /* ? footer end */
}
@keyframes header {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}
