* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  a {
    text-decoration: none;
  }
  .menu_bar {
    width: 330px;
    height: 100vh;
    background: #1d53c5;
    padding: 20px 40px 20px 40px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 30px;
    .user_info {
      display: flex;
      align-items: center;
      gap: 30px;
      padding-bottom: 22px;
      border-bottom: 1px solid #fff;
      margin-bottom: 7px;
      .user {
        padding-left: 20px;
        img {
          width: 84px;
          height: 84px;
          cursor: pointer;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        .profil {
          color: #fff;
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 8px;
        }
        .kurs {
          color: #fff;
          font-size: 16px;
          font-weight: 400;
          opacity: 0.7;
        }
        a:hover {
          opacity: 1;
        }
      }
    }
    .vizit {
      padding: 10px 0 10px 40px;
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      transition: 0.7s;
      display: inline-block;
    }
    .vizit:hover {
      background: #fff;
      color: #1d53c5;
      border-radius: 4px;
    }
  }
  ::-webkit-scrollbar {
    width: 0;
  }
  #header {
    width: 426px;
    background: #fff;
    margin-left: 470px;
    padding: 32px 0 26px 0;
    position: sticky;
    top: 0;
    z-index: 9;
    h1 {
      color: #000;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 16px;
    }
    .inp {
      position: relative;
      input {
        width: 357px;
        height: 48px;
        border-radius: 4px;
        background: #e5e5e5;
        font-size: 18px;
        border: none;
        padding: 0 10px 0 59px;
      }
      input::placeholder {
        color: #818181;
        font-size: 20px;
        font-weight: 400;
      }
      input:focus {
        outline: none;
      }
      ion-icon {
        font-size: 24px;
        color: #818181;
        position: absolute;
        top: 12px;
        left: 20px;
      }
    }
  }
  .scroll {
    padding: 32px 673px 100px 470px;
    .users {
      width: 426px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      .open_chat {
        border: none;
        background: transparent;
        cursor: pointer;
        .user {
          display: flex;
          justify-content: space-between;
          .user_info {
            display: flex;
            align-items: center;
            gap: 18px;
            img {
              width: 63px;
              height: 63px;
            }
            .info {
              display: flex;
              flex-direction: column;
              gap: 8px;
              .name {
                color: #000;
                font-size: 18px;
                font-weight: 500;
              }
              .name_i {
                color: #ec0808;
                font-size: 18px;
                font-weight: 500;
              }
              .txt {
                color: rgba(0, 0, 0, 0.75);
                font-size: 14px;
                font-weight: 500;
              }
            }
          }
          .time {
            color: rgba(0, 0, 0, 0.5);
            font-size: 12px;
            font-weight: 500;
          }
        }
        .in_chat {
          width: 38%;
          height: 100%;
          position: fixed;
          top: 0;
          right: 0px;
          z-index: 99;
          backdrop-filter: blur(60px);
          display: none;
          .close {
            position: fixed;
            top: 10px;
            right: 10px;
            z-index: 99;
            font-size: 20px;
            font-weight: 700;
            cursor: pointer;
          }
          .in_chat_container {
            overflow-y: scroll;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            padding: 0 20px;
            background: #1d52c543;
            .header {
              background: #3f7bfb;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 10px 20px;
              position: sticky;
              border-radius: 12px 12px 0 0;
              top: 0;
              z-index: 9;
              .in_chat_user {
                h1 {
                  font-size: 28px;
                  font-weight: 700;
                  color: #000;
                  margin-bottom: 10px;
                }
                span {
                  font-size: 14px;
                  color: #000;
                  opacity: 0.6;
                }
              }
              .in_chat_option {
                display: flex;
                align-items: center;
                gap: 20px;
                .search {
                  position: relative;
                  ion-icon {
                    font-size: 25px;
                    color: #000;
                  }
                  input {
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    width: 200px;
                    height: 35px;
                    padding: 0 15px;
                    border-radius: 12px;
                    display: none;
                    z-index: -1;
                  }
                  input:focus {
                    outline: none;
                  }
                }
                .search:hover {
                  input {
                    display: flex;
                  }
                }
              }
            }
            .in_chat_txt {
              display: flex;
              flex-direction: column;
              gap: 40px;
              clip-path: inset(0 0 0);
              z-index: -1;
              padding: 15px;
              background: #81818163;
              display: inline-block;
              .box {
                display: flex;
                flex-direction: column;
                gap: 20px;
                p {
                  background: #ec08084c;
                }
              }
            }
            .footer {
              background: #3f7bfb;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 10px 20px;
              position: sticky;
              border-radius: 0 0 12px 12px;
              bottom: 0;
              z-index: 9;
            }
          }
          ::-webkit-scrollbar {
            word-wrap: none;
          }
        }
      }
      .open_chat:focus {
        .in_chat {
          display: flex;
        }
      }
    }
  }
}
