* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  a {
    text-decoration: none;
  }
  .menu_bar {
    width: 330px;
    height: 100vh;
    background: #1d53c5;
    padding: 20px 40px 20px 40px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: scroll;
    .user_info {
      display: flex;
      align-items: center;
      gap: 30px;
      padding-bottom: 22px;
      border-bottom: 1px solid #fff;
      margin-bottom: 7px;
      .user {
        padding-left: 20px;
        img {
          width: 84px;
          height: 84px;
          cursor: pointer;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        .profil {
          color: #fff;
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 8px;
        }
        .kurs {
          color: #fff;
          font-size: 16px;
          font-weight: 400;
          opacity: 0.7;
        }
        a:hover {
          opacity: 1;
        }
      }
    }
    .vizit {
      padding: 10px 0 10px 40px;
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      transition: 0.7s;
      display: inline-block;
    }
    .vizit:hover {
      background: #fff;
      color: #1d53c5;
      border-radius: 4px;
    }
  }
  ::-webkit-scrollbar {
    width: 0;
  }
  #header {
    width: 855px;
    background: #fff;
    margin-left: 470px;
    padding: 32px 0 40px 0;
    border-bottom: 1px solid #00000080;
    position: sticky;
    top: 0;
    z-index: 9;
    .header {
      display: flex;
      align-items: center;
      gap: 64px;
      a {
        padding: 10px 25px;
        color: #000;
        font-size: 16px;
        font-weight: 400;
      }
      a:hover {
        border-radius: 4px;
        background: #e5e5e5;
      }
    }
  }
  .scroll {
    padding: 32px 211px 100px 470px;
    /* ?================ */
    #hero {
      padding: 40px 0;
      .hero {
        display: flex;
        gap: 40px;
        a {
          padding: 10px 60px 10px 20px;
          color: #818181;
          font-size: 20px;
          font-weight: 400;
          border-radius: 4px;
          background: #e5e5e5;
        }
        .inp {
          position: relative;
          input {
            width: 235px;
            height: 44px;
            border-radius: 4px;
            background: #e5e5e5;
            font-size: 18px;
            border: none;
            padding: 0 10px 0 59px;
          }
          input::placeholder {
            color: #818181;
            font-size: 20px;
            font-weight: 400;
          }
          input:focus {
            outline: none;
          }
          ion-icon {
            font-size: 24px;
            color: #818181;
            position: absolute;
            top: 10px;
            left: 20px;
          }
        }
      }
    }
    /* ?================= */
    #questions {
      .questions {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .block_main {
          .top {
            width: 805px;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            border-radius: 12px 12px 0px 0px;
            border-top: 5px solid #c5c5c5;
            border-left: 5px solid #c5c5c5;
            border-right: 5px solid #c5c5c5;
            background: #c5c5c5;
            .user_info {
              display: flex;
              align-items: center;
              gap: 25px;
              .user {
                img {
                  width: 55px;
                  height: 55px;
                }
              }
              .info {
                display: flex;
                flex-direction: column;
                gap: 8px;
                .name {
                  color: #000;
                  font-size: 20px;
                  font-weight: 500;
                }
                .kurs {
                  color: #000;
                  font-size: 16px;
                  font-weight: 400;
                  opacity: 0.7;
                }
              }
            }
            ion-icon {
              font-size: 24px;
              opacity: 0.5;
              cursor: pointer;
            }
          }
          .bottom {
            padding: 20px;
            width: 805px;
            border-radius: 0px 0px 12px 12px;
            border-bottom: 5px solid #e5e5e5;
            border-left: 5px solid #e5e5e5;
            border-right: 5px solid #e5e5e5;
            background: #e5e5e5;
            p {
              color: #000;
              font-size: 16px;
              font-weight: 400;
              margin-bottom: 8px;
            }
            span {
              color: #424242;
              font-size: 14px;
              font-weight: 400;
            }
            .block {
              margin-top: 16px;
              display: flex;
              gap: 20px;
              .box {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 6px 12px;
                border-radius: 4px;
                background: #fff;
                ion-icon {
                  font-size: 18px;
                  color: #424242;
                }
                .one {
                  color: #424242;
                  font-size: 14px;
                  font-weight: 400;
                }
              }
              .two {
                color: #424242;
                font-size: 14px;
                font-weight: 400;
                padding: 6px 12px;
                border-radius: 4px;
                background: #fff;
              }
            }
          }
        }
        .block_main:hover {
          .top {
            border-top: 5px solid #57b9fc;
            border-left: 5px solid #57b9fc;
            border-right: 5px solid #57b9fc;
          }
          .bottom {
            border-bottom: 5px solid #57b9fc;
            border-left: 5px solid #57b9fc;
            border-right: 5px solid #57b9fc;
          }
        }
      }
    }
  }
}
